*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html, body{
    width: 100%;
    height: 100%;
    background: #0f172a;
    color: #f1f5f9;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    resize: none;
    font-size: 14px;
}

.detect-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.detect-btn:hover {
    background: #16a34a;
}

.result-box {
    margin-top: 25px;
    padding: 15px;
    background: #0f172a;
    border-radius: 10px;
}

.result-box p {
    margin: 10px 0;
}

#prediction {
    font-weight: bold;
    color: #22c55e;
}

#risk {
    font-weight: bold;
}